#dndRec {
    -fx-fill: orange;
    -fx-pref-height: 100px;
    -fx-pref-width: 200px;
}

#dndText {
    -fx-font-size: 20px;
    -fx-fill: chocolate;
}

.button {
    -fx-background-color: linear-gradient(#ff5400, derive(#ff5400,-50%));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: linear-gradient(derive(#ff5400, 10%), derive(#ff5400, -30%));
}

.button:armed {
    -fx-background-color: linear-gradient(derive(#ff5400,-5%), derive(#ff5400,-60%));
}
